img{
  max-width: 200px;
}

.container ul{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container{
  margin-top: 25px;
  text-align: center;
}

.gameContainer{
  display: flex;
  align-items: center;
  gap: 20px;
}

.gameContainer button{
  color: red;
  font-size: 18px;
  font-weight: bold;
}