.container{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top:50px;
  gap: 25px;
  text-align: center;
}

.container img{
  width:200px;
}

.main{
  display: flex;
  flex-direction: column;
}

.desc{
  max-width: 50vw;
}