.searchBar{
  display:flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid rgba(0,0,0,.7);
  border-top: 2px solid rgba(0,0,0,.7);
  padding-top: 3vh;
}

.input:focus{
  outline:none;
}

.searchBar div{
  display:flex;
  gap: 1vw;
}

.input{
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,.5);
  font-size: 14px;
  /* width: 50vw; */
  padding: 4px;

}

.searchButton{
  font-size: 14px;
  border-radius: 50%;
  background-color: rgba(0,0,0,0);
}

.searchButton:active{
  background-color: rgba(0,0,0,1);
}