.nav a{
  text-decoration: none;
  color: black;
}

.nav ul{
  list-style: none;
  width: 100%;
  padding:0 5px;
  margin: 0;
}

.nav *{
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.nav{
  padding: 0 2vw;
  height: 6vh;
  background-color: darkgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.marginRight{
  margin-right: 15px;
}

.subMenu{
  display:flex;
  justify-content: space-around;
  padding: 10px 0;
  transition: 500ms;
  /* position: relative; */
  scale: 1;
  top:50px;
  /* height:100%; */
}

.topNav{
  position: relative;
}

.hidden{
  scale: 0;
  /* top:-100px; */
  /* visibility: hidden; */
  
}

.profImg{
  /* margin-top:5px; */
  width: 40px;
  height: 40px;
  border-radius: 100%;
}

.profImg:hover{
  cursor: pointer;
}

i{
  font-size:24px;
}